[project]
	description = gulp plugin for express
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gimm Yu (gimm)
[access "refs/for/refs/*"]
	read = group user/Gimm Yu (gimm)
	push = group user/Gimm Yu (gimm)
	label-Code-Review = -2..+2 group user/Gimm Yu (gimm)
	label-Verified = -1..+1 group user/Gimm Yu (gimm)
	rebase = group user/Gimm Yu (gimm)
	removeReviewer = group user/Gimm Yu (gimm)
	submit = group user/Gimm Yu (gimm)
[access "refs/heads/*"]
	read = group user/Gimm Yu (gimm)
	create = group user/Gimm Yu (gimm)
	push = +force group user/Gimm Yu (gimm)
	pushMerge = group user/Gimm Yu (gimm)
[access "refs/tags/*"]
	push = group user/Gimm Yu (gimm)
	push = +force group user/Gimm Yu (gimm)
